fastapi
uvicorn
SQLAlchemy
psycopg2-binary
python-dotenv
jinja2
pydantic
pydantic[email]
python-multipart 
bcrypt
numpy==2.0.2
pandas==2.2.2
matplotlib==3.10.0
seaborn==0.13.2
joblib==1.5.2
tensorflow==2.19.0
scikit-learn==1.6.1
transformers
accelerate
torch
openai
google-genai
pgvector                # PostgreSQL 데이터베이스에 벡터 데이터 저장, 유사도 검색 라이브러리
pymupdf                 # PDF 파일 처리 라이브러리